@media only screen and (max-width: 375px) {
    html, body {
        height: 100%;
        width: 100%;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    div.container {
        width: 100%;
        height: 150%;
        background: inherit;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(to bottom, #E8CBC0, #636FA4);
    }

    div.container-sup {
        width: 100%;
        background-color: #f1f1f1 !important;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        box-shadow: 0 2px 5px #9B7D71;
    }

    div.container-sup > label {
        font-size: 2em;
        /* margin-top: 0.75em; */
    }

    div.container-sup > hr {
        margin-top: 0.5em;
        width: 2em;
        border: 3px solid #9B7D71;
    }

    div.container-sup > p {
        width: 85%;
        margin-top: 1em;
        font-size: 1.15em;
    }

    div.container-sup > p::first-letter {
        font-size: 1.25em;
    }

    div.container-sub {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    div.container-sub > .funcs {
        margin-top: ;
        height: 30%;
        width: 75%;
        background: #f1f1f1;
    }
    
    .funcs:first-child {
        margin-top: 2em;
        border-top-left-radius: 1.25em;
        border-top-right-radius: 1.25em;
    }

    .funcs:last-child {
        border-bottom-left-radius: 1.25em;
        border-bottom-right-radius: 1.25em;
    }

    .funcs:nth-child(2) {
        border-top: solid 0.25px #9B7D71;
        border-bottom: solid 0.25px #9B7D71;
    }

    .funcs > a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .funcs > a > i {
        font-size: 8em;
        color: #E3BAB4;
    }

    .funcs:focus > i {
        color: #7A8FB0;
    }

    .funcs > a > label {
        color: black;
    }
}